Tageschaui_News_Simplifier/Tageschau_Simplifier.json
{
  "name": "Tageschau Simplifier",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.tagesschau.de/wissen/index~rss2.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -192,
        -112
      ],
      "id": "4d9dea4e-8556-478b-806b-bbd5703ed806",
      "name": "RSS Read"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        16,
        -112
      ],
      "id": "7379f728-c28f-48f3-9389-5d97587ae806",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarise the below articles and simplify them for easier understanding. Maintain the original language of the articles. Include date, title, link and summarisation of the article in the message.\n{{ $json.date }}\n{{ $json.title }}\n{{ $json.link }}\n{{ $json['content:encoded'] }}",
        "messages": {
          "messageValues": [
            {
              "message": "Summarise the below articles and simplify them for easier understanding. Maintain the original language of the articles. Avoid putting any prompt related messages they are just guidelines for you to follow. For difficult words to understand for non-native speakers put the English translation in  curly braces{}."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        832,
        240
      ],
      "id": "c20b5a54-d695-4542-9116-64c14288d22a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        944,
        448
      ],
      "id": "738481c4-2890-44dc-9dbb-4397a80a83f0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "cm81TUCdhzYy0a2z",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "982437894942964",
        "recipientPhoneNumber": "4915753306842",
        "textBody": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1296,
        240
      ],
      "id": "2aac005c-2dec-4348-96e4-af45ce67bb25",
      "name": "Send message",
      "webhookId": "6c9555e1-b643-4a25-b1cd-4d1ffcebe492",
      "credentials": {
        "whatsAppApi": {
          "id": "QI1SCBOZ0W9DFYF5",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -592,
        32
      ],
      "id": "fb1ae70f-6978-4f37-bcf1-cb2fa223dc3c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "outputFieldName": "=currentDate",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -160,
        208
      ],
      "id": "35690989-5511-4db0-89bb-4d77ccdc6576",
      "name": "Date & Time"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        96,
        240
      ],
      "id": "d9f483e9-fb18-46df-8925-05df372c92e8",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fb99d5d1-fee9-4813-af26-eddede956275",
              "leftValue": "={{ $json.send }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        240
      ],
      "id": "dce7b483-609c-4efc-8734-0c4a52390ee6",
      "name": "If"
    },
    {
      "parameters": {
        "amount": "={{ 1 }}",
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        672,
        496
      ],
      "id": "d5ab5d39-0f5b-4ffb-bb8e-5032e9e71f79",
      "name": "Wait",
      "webhookId": "fd955406-e0b4-4a81-b91c-1b29675ad3e9"
    },
    {
      "parameters": {
        "jsCode": "// Get all input items as an array\nconst items = $input.all();\n\n// Access the first item (your content) and the second item (the current date)\nconst contentItem = items[0];\nconst dateItem = items[1];\n\n// Parse the dates using n8n's built-in Luxon library\n// dateA: from the content item (RFC 2822 format)\nconsole.log(contentItem.json.pubDate);\nconst dateA = DateTime.fromRFC2822(contentItem.json.pubDate).setZone('Europe/Berlin');\n\n// dateB: from the date item (ISO format). Note: We access dateItem here.\nconst dateB = DateTime.fromISO(dateItem.json.currentDate).setZone('Europe/Berlin');\n\nconsole.log(dateA);\nconsole.log(dateB);\n\n// Compare if they are on the same day\nif (dateA.hasSame(dateB, 'day')) {\n  contentItem.json.send = 1;\n} else {\n  contentItem.json.send = 0;\n}\n\n// Return ONLY the first item as an array. \n// This automatically \"deletes\" the second item from the flow.\nreturn [contentItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        240
      ],
      "id": "f7c855ae-21b9-4ed7-bc2e-c678c1abcbb2",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "194fe890-8abf-4953-8c79-a46974b829bb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d3b07e39922e04bb2c15b9f1b640474f92f9444b47a6ea027a0e2743e9d0a6f"
  },
  "id": "ICcFj4B3cSY2ocLj",
  "tags": []
}